
  @font-face {
    font-family: 'StarJedi';
    src: url('fonts/StarJedi.svg#StarJedi') format('svg'),
         url('fonts/StarJedi.ttf') format('truetype'),
         url('fonts/StarJedi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Starjedi';
    src: url('fonts/Starjedi.eot');
    src: url('fonts/Starjedi.eot?#iefix') format('embedded-opentype'),
         url('fonts/Starjedi.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  
body {
    background-color: #fff;
    box-sizing: content-box;
    font-family: 'Starjedi', sans-serif;
    font-size: 12px;
}

body h1 {
    text-align: center;
    padding:10px 0;
    font-size:20px;
}

.star-wars-app {
    display: block;
    max-width: 1024px;
    margin:0 auto;
}
.vehicule-list {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vehicule-list ul {
    margin:10px;
    max-width: 195px;
    height: 300px;
}

.vehicule-list ul  li{
    padding:5px 0;
}

.vehicule .extra-infos {
    display:none;
}

.vehicule .extra-infos.active {
    display:block;
    background-color: rgba(0,0,0,0.8);
    color:#fff;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    width: 500px;
    padding:20px;
    max-width: none;
}

.card {
    position:fixed;
    background-color:rgba(0,0,0,0.8);
    right:0;
    top:0;
    max-width:250px;
    padding:20px;
    text-align: left;
    color:white;
}

.card p {
    margin:10px 0;
    line-height: 20px;
}

button {
    
    border: none;
    cursor:pointer;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }

button:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: #fff;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    }

    button:disabled {
    cursor:default;
    color: #fff !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}